#led-rodnik .top-container {
  position: relative;
  background: url("../images/led-rodnik/snezhnie-gori.jpg") center top no-repeat;
  background-size: cover; }
  #led-rodnik .top-container .title-container {
    position: relative;
    z-index: 5;
    padding-top: 50vh; }
    @media all and (max-width: 768px) {
      #led-rodnik .top-container .title-container {
        padding-top: 30vh; } }
    #led-rodnik .top-container .title-container .top-title {
      font-size: 80px;
      font-family: "SegoeUIBold", sans-serif;
      color: #000054;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.2;
      text-align: center;
      text-shadow: 0 2px 2px #fff;
      position: relative;
      z-index: 5;
      width: 100%; }
      @media all and (max-width: 1400px) {
        #led-rodnik .top-container .title-container .top-title {
          font-size: 70px; } }
      @media all and (max-width: 1200px) {
        #led-rodnik .top-container .title-container .top-title {
          font-size: 60px; } }
      @media all and (max-width: 1000px) {
        #led-rodnik .top-container .title-container .top-title {
          font-size: 50px; } }
      @media all and (max-width: 700px) {
        #led-rodnik .top-container .title-container .top-title {
          font-size: 40px; } }
      @media all and (max-width: 500px) {
        #led-rodnik .top-container .title-container .top-title {
          font-size: 20px; } }
    #led-rodnik .top-container .title-container .top-title-small {
      padding-top: 60px;
      font-size: 36px;
      font-family: "SegoeUIBold", sans-serif;
      color: #000054;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.5;
      text-align: center;
      text-shadow: 0 2px 2px #fff; }
      @media all and (max-width: 1200px) {
        #led-rodnik .top-container .title-container .top-title-small {
          font-size: 30px; } }
      @media all and (max-width: 1000px) {
        #led-rodnik .top-container .title-container .top-title-small {
          font-size: 24px; } }
      @media all and (max-width: 500px) {
        #led-rodnik .top-container .title-container .top-title-small {
          font-size: 16px; } }
  #led-rodnik .top-container .bottle-slide {
    position: absolute;
    z-index: 1;
    right: -10%;
    top: 0;
    height: 100vh;
    max-height: 1078px; }
  #led-rodnik .top-container .clouds-1 {
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%; }
#led-rodnik .bg-wrapper {
  overflow: hidden; }
  #led-rodnik .bg-wrapper .led-rodnik-1-container {
    background-image: url(../images/led-rodnik/picture-bottles-1.jpg);
    background-attachment: scroll; }
  @media all and (min-width: 768px) {
    #led-rodnik .bg-wrapper .bg-container:hover {
      transform: scale(1.2) rotate(-5deg); } }
#led-rodnik .led-rodnik-2-container {
  height: 180vh;
  background: url("../images/led-rodnik/clouds-2.png") center top no-repeat, url("../images/led-rodnik/logo.png") center bottom no-repeat, url("../images/led-rodnik/picture-texture.jpg") center top no-repeat;
  background-size: contain, 40vw, cover;
  background-attachment: scroll; }
  @media all and (max-width: 768px) {
    #led-rodnik .led-rodnik-2-container {
      background-size: contain, 70vw, cover;
      height: 100vh; } }
  #led-rodnik .led-rodnik-2-container .snow-1, #led-rodnik .led-rodnik-2-container .snow-2, #led-rodnik .led-rodnik-2-container .snow-3, #led-rodnik .led-rodnik-2-container .snow-4, #led-rodnik .led-rodnik-2-container .snow-glow-1, #led-rodnik .led-rodnik-2-container .snow-glow-2, #led-rodnik .led-rodnik-2-container .snow-glow-3 {
    position: absolute;
    width: 50%; }
  #led-rodnik .led-rodnik-2-container .snow-1 {
    max-width: 882px;
    top: 0;
    left: 0; }
  #led-rodnik .led-rodnik-2-container .snow-2 {
    max-width: 732px;
    top: 30%;
    left: 0; }
  #led-rodnik .led-rodnik-2-container .snow-3 {
    max-width: 718px;
    top: 0;
    right: 0; }
  #led-rodnik .led-rodnik-2-container .snow-4 {
    max-width: 1107px;
    top: 40%;
    right: 0; }
  #led-rodnik .led-rodnik-2-container .snow-glow-1 {
    max-width: 981px;
    top: 0;
    left: 0; }
  #led-rodnik .led-rodnik-2-container .snow-glow-2 {
    max-width: 944px;
    top: 40%;
    right: 10%; }
  #led-rodnik .led-rodnik-2-container .snow-glow-3 {
    max-width: 978px;
    top: 70%;
    left: 30%; }
#led-rodnik .led-rodnik-3-container {
  background-image: url(../images/led-rodnik/picture-mockup.png);
  background-attachment: scroll; }
#led-rodnik .bottle-concept-1-cont .bottle-concept-1 {
  max-width: 1286px; }
#led-rodnik .info-block-container .gl-container .info-left .info-left-title {
  color: #000; }
#led-rodnik .info-block-container .gl-container .info-right {
  color: #959595; }
  #led-rodnik .info-block-container .gl-container .info-right span {
    color: #31c2f0; }
  #led-rodnik .info-block-container .gl-container .info-right a.gl-link {
    color: #31c2f0;
    border-bottom: 2px solid #31c2f0; }
  #led-rodnik .info-block-container .gl-container .info-right .read-more-btn {
    color: #ffd800; }
#led-rodnik .two-images-container .image-left, #led-rodnik .two-images-container .image-right {
  overflow: hidden; }
  @media all and (max-width: 768px) {
    #led-rodnik .two-images-container .image-left, #led-rodnik .two-images-container .image-right {
      width: 100%; } }
  #led-rodnik .two-images-container .image-left img, #led-rodnik .two-images-container .image-right img {
    max-width: 960px;
    transition: all 1s; }
@media all and (min-width: 768px) {
  #led-rodnik .two-images-container .image-left img:hover, #led-rodnik .two-images-container .image-right img:hover {
    transform: scale(1.2) rotate(-10deg); } }

/*# sourceMappingURL=led-rodnik.css.map */
