.top-container {
  position: relative; }
  .top-container .title-container {
    position: relative;
    z-index: 5;
    padding-top: 40vh; }
    @media all and (max-width: 768px) {
      .top-container .title-container {
        padding-top: 30vh; } }
    .top-container .title-container .top-title {
      font-size: 80px;
      font-family: "SegoeUIBold", sans-serif;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.2;
      text-align: center;
      width: 100%; }
      @media all and (max-width: 1400px) {
        .top-container .title-container .top-title {
          font-size: 70px; } }
      @media all and (max-width: 1200px) {
        .top-container .title-container .top-title {
          font-size: 60px; } }
      @media all and (max-width: 1000px) {
        .top-container .title-container .top-title {
          font-size: 50px; } }
      @media all and (max-width: 700px) {
        .top-container .title-container .top-title {
          font-size: 40px; } }
      @media all and (max-width: 500px) {
        .top-container .title-container .top-title {
          font-size: 20px; } }
    .top-container .title-container .top-title-small {
      padding-top: 150px;
      font-size: 48px;
      font-family: "SegoeUIBold", sans-serif;
      color: #fff;
      font-weight: bold;
      text-transform: none;
      line-height: 1.5;
      text-align: center; }
      @media all and (max-width: 1200px) {
        .top-container .title-container .top-title-small {
          font-size: 36px; } }
      @media all and (max-width: 1000px) {
        .top-container .title-container .top-title-small {
          font-size: 30px; } }
      @media all and (max-width: 700px) {
        .top-container .title-container .top-title-small {
          font-size: 24px; } }
      @media all and (max-width: 500px) {
        .top-container .title-container .top-title-small {
          font-size: 16px; } }

.header-text {
  position: relative;
  z-index: 5;
  padding: 30px 0;
  font-size: 36px;
  font-family: "SegoeUIBold", sans-serif;
  color: #000;
  font-weight: bold;
  line-height: 1.2;
  text-align: center; }
  @media all and (max-width: 1000px) {
    .header-text {
      padding: 40px 0; } }
  @media all and (max-width: 768px) {
    .header-text {
      font-size: 24px;
      padding: 20px 0; } }
  @media all and (max-width: 600px) {
    .header-text {
      font-size: 20px;
      padding: 20px 0; } }

.portfolio-page.unique-page .image-container {
  max-height: inherit; }
  .portfolio-page.unique-page .image-container img {
    width: 100%; }

.portfolio-page.non-unique-page .image-container {
  max-height: inherit; }
  .portfolio-page.non-unique-page .image-container img {
    width: auto;
    max-width: 100%; }
