#indelika .bg-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed; }
  #indelika .bg-container .gl-container {
    position: relative; }
    #indelika .bg-container .gl-container h1 {
      font-size: 80px;
      font-family: "SegoeUIBold", sans-serif;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.2;
      text-align: center;
      text-shadow: 0px 3px 2px #000;
      position: relative;
      top: 30vh;
      z-index: 5;
      width: 100%; }
      @media all and (max-width: 1400px) {
        #indelika .bg-container .gl-container h1 {
          font-size: 70px; } }
      @media all and (max-width: 1200px) {
        #indelika .bg-container .gl-container h1 {
          font-size: 60px; } }
      @media all and (max-width: 1000px) {
        #indelika .bg-container .gl-container h1 {
          font-size: 50px; } }
      @media all and (max-width: 700px) {
        #indelika .bg-container .gl-container h1 {
          font-size: 40px; } }
      @media all and (max-width: 500px) {
        #indelika .bg-container .gl-container h1 {
          font-size: 20px; } }

#indelika .image-top {
  background-image: url("../../images/portfolio/indelika/slidemain.jpg"); }

#indelika .image-3 {
  background-size: auto;
  background-position: center center;
  background-color: #000;
  background-attachment: scroll;
  background-image: url("../../images/portfolio/indelika/indelika-picture-1.jpg"); }

#indelika .image-4 {
  background-size: auto;
  background-position: center center;
  background-color: #000;
  background-attachment: scroll;
  background-image: url("../../images/portfolio/indelika/indelika-picture-2.jpg"); }

#indelika .image-6 {
  background-size: auto;
  background-position: center center;
  background-color: #000;
  background-attachment: scroll;
  background-image: url("../../images/portfolio/indelika/indelika-picture-3.jpg"); }

#indelika .logo-container {
  background-color: #000; }

#indelika .image-container {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  text-align: center; }
  #indelika .image-container .dark-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(60, 60, 60, 0.5);
    z-index: 2; }
  #indelika .image-container .big-image {
    width: 100%;
    position: relative; }
  #indelika .image-container .image-2 {
    padding: 50px 10px 10px 10px;
    height: 70vh;
    width: auto;
    background-color: #000; }
    @media all and (max-width: 600px) {
      #indelika .image-container .image-2 {
        height: 50vh; } }
  #indelika .image-container .third-image .image-cont-left {
    display: inline-block;
    width: 50%; }
    #indelika .image-container .third-image .image-cont-left .image-left {
      vertical-align: bottom; }
  #indelika .image-container .third-image .image-cont-right {
    display: inline-block;
    width: 50%; }
    #indelika .image-container .third-image .image-cont-right .image-right {
      height: auto;
      vertical-align: bottom; }

#indelika .owl-carousel {
  position: relative;
  background-color: white; }
  #indelika .owl-carousel .item {
    position: relative;
    height: calc(100vh - 10px);
    text-align: center; }
    #indelika .owl-carousel .item .bg-container-right {
      display: inline-block;
      position: absolute;
      right: 0;
      height: calc(100vh - 10px);
      width: 50%;
      padding: 5vh 0;
      background-size: cover;
      background-position: center left; }
      @media all and (max-width: 768px) {
        #indelika .owl-carousel .item .bg-container-right {
          display: none; } }
    #indelika .owl-carousel .item .img-1 {
      background-image: url("../../images/portfolio/indelika/indelika-concept-1.jpg"); }
    #indelika .owl-carousel .item .img-2 {
      background-image: url("../../images/portfolio/indelika/indelika-concept-2.jpg"); }
    #indelika .owl-carousel .item .img-3 {
      background-image: url("../../images/portfolio/indelika/indelika-concept-3.jpg"); }
    #indelika .owl-carousel .item .gl-container {
      position: relative;
      z-index: 5;
      width: 40%;
      margin: 0 0 0 10%; }
      @media all and (max-width: 1200px) {
        #indelika .owl-carousel .item .gl-container {
          width: 60%; } }
      @media all and (max-width: 768px) {
        #indelika .owl-carousel .item .gl-container {
          width: 80%; } }
      #indelika .owl-carousel .item .gl-container h2 {
        font-size: 48px;
        font-family: "SegoeUIBold", sans-serif;
        color: #933837;
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 70px; }
        @media all and (max-width: 768px) {
          #indelika .owl-carousel .item .gl-container h2 {
            padding-top: 10px;
            padding-bottom: 20px; } }
        @media all and (max-width: 1200px) {
          #indelika .owl-carousel .item .gl-container h2 {
            font-size: 36px; } }
        @media all and (max-width: 1000px) {
          #indelika .owl-carousel .item .gl-container h2 {
            font-size: 30px; } }
        @media all and (max-width: 768px) {
          #indelika .owl-carousel .item .gl-container h2 {
            font-size: 20px; } }
      #indelika .owl-carousel .item .gl-container .info-text {
        font-size: 20px;
        font-family: "SegoeUIRegular", sans-serif;
        color: #505050;
        line-height: 1.2;
        text-align: left; }
        @media all and (max-width: 768px) {
          #indelika .owl-carousel .item .gl-container .info-text {
            font-size: 16px; } }
        #indelika .owl-carousel .item .gl-container .info-text p, #indelika .owl-carousel .item .gl-container .info-text ul, #indelika .owl-carousel .item .gl-container .info-text ol {
          font: inherit;
          color: inherit;
          margin-bottom: 10px; }
          #indelika .owl-carousel .item .gl-container .info-text p li, #indelika .owl-carousel .item .gl-container .info-text ul li, #indelika .owl-carousel .item .gl-container .info-text ol li {
            font: inherit; }
          #indelika .owl-carousel .item .gl-container .info-text p span, #indelika .owl-carousel .item .gl-container .info-text ul span, #indelika .owl-carousel .item .gl-container .info-text ol span {
            font-size: inherit;
            font-family: "SegoeUIBold", sans-serif;
            color: #933837; }
          #indelika .owl-carousel .item .gl-container .info-text p br, #indelika .owl-carousel .item .gl-container .info-text ul br, #indelika .owl-carousel .item .gl-container .info-text ol br {
            line-height: 1.5; }
        #indelika .owl-carousel .item .gl-container .info-text ul {
          padding-left: 40px;
          list-style: disc; }
        #indelika .owl-carousel .item .gl-container .info-text ol {
          padding-left: 40px;
          list-style: decimal; }
  #indelika .owl-carousel .owl-dots {
    padding-bottom: 50px; }
    @media screen and (max-width: 768px) {
      #indelika .owl-carousel .owl-dots {
        padding-bottom: 10px; } }
    #indelika .owl-carousel .owl-dots .owl-dot {
      zoom: 2; }
    #indelika .owl-carousel .owl-dots .owl-dot span {
      position: relative;
      background: transparent;
      display: block;
      border: 1px solid black; }
    #indelika .owl-carousel .owl-dots .owl-dot.active span, #indelika .owl-carousel .owl-dots .owl-dot:hover span {
      background: black; }
  #indelika .owl-carousel .owl-nav {
    position: absolute;
    width: 100%;
    top: 45%;
    left: 0; }
    #indelika .owl-carousel .owl-nav .owl-prev, #indelika .owl-carousel .owl-nav .owl-next {
      position: absolute;
      width: 73px;
      height: 145px;
      background-color: transparent; }
      @media screen and (max-width: 768px) {
        #indelika .owl-carousel .owl-nav .owl-prev, #indelika .owl-carousel .owl-nav .owl-next {
          width: 38px;
          height: 72px; } }
    #indelika .owl-carousel .owl-nav .owl-prev {
      left: 2%;
      background-image: url("../../images/general/slide_left_black.png") !important; }
      @media screen and (max-width: 768px) {
        #indelika .owl-carousel .owl-nav .owl-prev {
          left: 2%;
          background-image: url("../../images/general/slide_left_black_mob.png") !important; } }
    #indelika .owl-carousel .owl-nav .owl-next {
      right: 2%;
      background-image: url("../../images/general/slide_right_black.png") !important; }
      @media screen and (max-width: 768px) {
        #indelika .owl-carousel .owl-nav .owl-next {
          right: 2%;
          background-image: url("../../images/general/slide_right_black_mob.png") !important; } }
    #indelika .owl-carousel .owl-nav .owl-prev:hover {
      background-image: url("../../images/general/slide_left_yellow.png") !important; }
      @media screen and (max-width: 768px) {
        #indelika .owl-carousel .owl-nav .owl-prev:hover {
          background-image: url("../../images/general/slide_left_yellow_mob.png") !important; } }
    #indelika .owl-carousel .owl-nav .owl-next:hover {
      background-image: url("../../images/general/slide_right_yellow.png") !important; }
      @media screen and (max-width: 768px) {
        #indelika .owl-carousel .owl-nav .owl-next:hover {
          background-image: url("../../images/general/slide_right_yellow_mob.png") !important; } }
  #indelika .owl-carousel .owl-controls .slider_left_btn, #indelika .owl-carousel .owl-controls .slider_right_btn {
    position: absolute;
    width: 75px;
    height: 145px;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 10;
    transition: all 0.4s; }
    @media screen and (max-width: 768px) {
      #indelika .owl-carousel .owl-controls .slider_left_btn, #indelika .owl-carousel .owl-controls .slider_right_btn {
        width: 38px;
        height: 72px; } }
  #indelika .owl-carousel .owl-controls .slider_left_btn {
    bottom: 50%;
    left: 2%;
    background-image: url("../../images/portfolio/general/slide_left_black.png"); }
    @media screen and (max-width: 768px) {
      #indelika .owl-carousel .owl-controls .slider_left_btn {
        background-image: url("../../images/portfolio/general/slide_left_black_mob.png"); } }
  #indelika .owl-carousel .owl-controls .slider_right_btn {
    bottom: 50%;
    right: 2%;
    background-image: url("../../images/portfolio/general/slide_right_black.png"); }
    @media screen and (max-width: 768px) {
      #indelika .owl-carousel .owl-controls .slider_right_btn {
        background-image: url("../../images/portfolio/general/slide_right_black_mob.png"); } }
  #indelika .owl-carousel .owl-controls .slider_left_btn:hover {
    background-image: url("../../images/portfolio/general/slide_left_yellow.png"); }
    @media screen and (max-width: 768px) {
      #indelika .owl-carousel .owl-controls .slider_left_btn:hover {
        background-image: url("../../images/portfolio/general/slide_left_yellow_mob.png"); } }
  #indelika .owl-carousel .owl-controls .slider_right_btn:hover {
    background-image: url("../../images/portfolio/general/slide_right_yellow.png"); }
    @media screen and (max-width: 768px) {
      #indelika .owl-carousel .owl-controls .slider_right_btn:hover {
        background-image: url("../../images/portfolio/general/slide_right_yellow_mob.png"); } }

#indelika .info-block-container .gl-container .info-left .info-left-title {
  color: black; }

#indelika .info-block-container .gl-container .info-right p {
  color: #505050; }
  #indelika .info-block-container .gl-container .info-right p span {
    color: inherit; }

#indelika .info-history {
  background-color: #000; }
  #indelika .info-history .info-left-title, #indelika .info-history p {
    color: #fff !important; }

#indelika .image-5 {
  height: 100vh;
  background-image: url("../../images/portfolio/indelika/picture-labels.jpg");
  background-attachment: fixed; }

#indelika .stickers-container {
  position: relative;
  padding: 0 0 100px 0;
  background-image: linear-gradient(0deg, #232323 0%, #040404 100%); }
  @media all and (max-width: 768px) {
    #indelika .stickers-container {
      padding: 0 0 20px 0; } }
  #indelika .stickers-container h2 {
    padding: 50px 0;
    font-size: 48px;
    font-family: "SegoeUIBold", sans-serif;
    color: white;
    font-weight: bold;
    line-height: 1.2;
    text-align: center; }
    @media all and (max-width: 1000px) {
      #indelika .stickers-container h2 {
        font-size: 32px; } }
    @media all and (max-width: 768px) {
      #indelika .stickers-container h2 {
        font-size: 26px;
        padding: 20px 0; } }
    @media all and (max-width: 600px) {
      #indelika .stickers-container h2 {
        font-size: 24px; } }
  #indelika .stickers-container .fonts-container img {
    padding: 20px 0; }
    @media all and (max-width: 768px) {
      #indelika .stickers-container .fonts-container img {
        padding: 10px 0; } }
  #indelika .stickers-container .fonts-container .font-1 {
    max-width: 933px; }
  #indelika .stickers-container .fonts-container .font-2 {
    max-width: 898px; }
  #indelika .stickers-container .fonts-container .font-3 {
    max-width: 600px; }

#indelika .stickers-colors-container {
  background-color: #fff;
  padding: 80px 0; }
  @media all and (max-width: 600px) {
    #indelika .stickers-colors-container {
      padding: 20px 0; } }
  #indelika .stickers-colors-container .gl-container {
    width: 80%;
    margin: 0 auto; }
    #indelika .stickers-colors-container .gl-container h2 {
      padding-bottom: 80px;
      font-size: 48px;
      font-family: "SegoeUIBold", sans-serif;
      color: black;
      font-weight: bold;
      line-height: 1.2;
      text-align: center; }
      @media all and (max-width: 1200px) {
        #indelika .stickers-colors-container .gl-container h2 {
          padding-bottom: 60px;
          font-size: 40px; } }
      @media all and (max-width: 1000px) {
        #indelika .stickers-colors-container .gl-container h2 {
          padding-bottom: 40px;
          font-size: 32px; } }
      @media all and (max-width: 600px) {
        #indelika .stickers-colors-container .gl-container h2 {
          padding-bottom: 20px;
          font-size: 20px; } }
    #indelika .stickers-colors-container .gl-container .color-left, #indelika .stickers-colors-container .gl-container .color-right {
      width: 50%;
      float: left; }
      @media all and (max-width: 768px) {
        #indelika .stickers-colors-container .gl-container .color-left, #indelika .stickers-colors-container .gl-container .color-right {
          width: 100%;
          float: none; } }
    #indelika .stickers-colors-container .gl-container .color-container {
      padding: 50px 0 50px 50px; }
      @media all and (max-width: 1200px) {
        #indelika .stickers-colors-container .gl-container .color-container {
          padding: 40px 0 40px 40px; } }
      @media all and (max-width: 1000px) {
        #indelika .stickers-colors-container .gl-container .color-container {
          padding: 30px 0 30px 30px; } }
      @media all and (max-width: 600px) {
        #indelika .stickers-colors-container .gl-container .color-container {
          padding: 20px 0 20px 20px; } }
      #indelika .stickers-colors-container .gl-container .color-container h3 {
        font-size: 30px;
        font-family: "SegoeUIBold", sans-serif;
        color: black;
        font-weight: bold;
        line-height: 1.2;
        text-align: left; }
        @media all and (max-width: 1200px) {
          #indelika .stickers-colors-container .gl-container .color-container h3 {
            font-size: 26px; } }
        @media all and (max-width: 1000px) {
          #indelika .stickers-colors-container .gl-container .color-container h3 {
            font-size: 24px; } }
        @media all and (max-width: 600px) {
          #indelika .stickers-colors-container .gl-container .color-container h3 {
            font-size: 16px; } }
      #indelika .stickers-colors-container .gl-container .color-container .pointer-container {
        position: relative;
        margin: 15px 0; }
        @media all and (max-width: 600px) {
          #indelika .stickers-colors-container .gl-container .color-container .pointer-container {
            margin: 5px 0; } }
        #indelika .stickers-colors-container .gl-container .color-container .pointer-container .circle {
          position: absolute;
          top: 2.5px;
          z-index: 1;
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%; }
        #indelika .stickers-colors-container .gl-container .color-container .pointer-container .line {
          position: relative;
          display: inline-block;
          width: 70%; }
        #indelika .stickers-colors-container .gl-container .color-container .pointer-container .big-circle {
          position: absolute;
          right: 0;
          top: -70px;
          width: 100px;
          height: 100px;
          border-radius: 50%; }
          @media all and (max-width: 1200px) {
            #indelika .stickers-colors-container .gl-container .color-container .pointer-container .big-circle {
              top: -50px;
              width: 80px;
              height: 80px; } }
          @media all and (max-width: 1000px) {
            #indelika .stickers-colors-container .gl-container .color-container .pointer-container .big-circle {
              top: -40px;
              width: 60px;
              height: 60px; } }
      #indelika .stickers-colors-container .gl-container .color-container .black .circle, #indelika .stickers-colors-container .gl-container .color-container .black .big-circle {
        color: #000;
        background-color: #000; }
      #indelika .stickers-colors-container .gl-container .color-container .black .line {
        border-bottom: 1px solid #000; }
      #indelika .stickers-colors-container .gl-container .color-container .gold-black .circle, #indelika .stickers-colors-container .gl-container .color-container .gold-black .big-circle {
        background: -ms-linear-gradient(0deg, #fee37d 0%, #fee98f 12%, #f9c362 23%, #e2b057 28%, #cb9c4c 40%, #a38541 52%, #85632d 60%, #6e5224 65%, #4e3c15 79%, #4c3c18 84%, #2d1f04 92%); }
      #indelika .stickers-colors-container .gl-container .color-container .gold-black .line {
        border-bottom: 1px solid #cda250; }
      #indelika .stickers-colors-container .gl-container .color-container .gold .circle, #indelika .stickers-colors-container .gl-container .color-container .gold .big-circle {
        background-color: #cda250; }
      #indelika .stickers-colors-container .gl-container .color-container .gold .line {
        border-bottom: 1px solid #cda250; }
      #indelika .stickers-colors-container .gl-container .color-container .red .circle, #indelika .stickers-colors-container .gl-container .color-container .red .big-circle {
        background-color: #a71e23; }
      #indelika .stickers-colors-container .gl-container .color-container .red .line {
        border-bottom: 1px solid #a71e23; }
      #indelika .stickers-colors-container .gl-container .color-container .green .circle, #indelika .stickers-colors-container .gl-container .color-container .green .big-circle {
        background-color: #0c8243; }
      #indelika .stickers-colors-container .gl-container .color-container .green .line {
        border-bottom: 1px solid #0c8243; }
      #indelika .stickers-colors-container .gl-container .color-container .blue .circle, #indelika .stickers-colors-container .gl-container .color-container .blue .big-circle {
        background-color: #25509f; }
      #indelika .stickers-colors-container .gl-container .color-container .blue .line {
        border-bottom: 1px solid #25509f; }
      #indelika .stickers-colors-container .gl-container .color-container p {
        font-size: 24px;
        font-family: "SegoeUIRegular", sans-serif;
        color: #969696;
        line-height: 1.2;
        text-align: left; }
        @media all and (max-width: 1200px) {
          #indelika .stickers-colors-container .gl-container .color-container p {
            font-size: 20px; } }
        @media all and (max-width: 1000px) {
          #indelika .stickers-colors-container .gl-container .color-container p {
            font-size: 18px; } }
        @media all and (max-width: 600px) {
          #indelika .stickers-colors-container .gl-container .color-container p {
            font-size: 16px; } }

#indelika .concepts-info {
  background-color: black; }
  #indelika .concepts-info .gl-container h2 {
    color: white; }

#indelika .summary-header {
  padding: 100px 0;
  font-size: 36px;
  font-family: "SegoeUIBold", sans-serif;
  color: black;
  font-weight: bold;
  line-height: 1.2;
  text-align: center; }
  @media all and (max-width: 1000px) {
    #indelika .summary-header {
      padding: 80px 0; } }
  @media all and (max-width: 768px) {
    #indelika .summary-header {
      font-size: 24px;
      padding: 50px 0; } }
  @media all and (max-width: 600px) {
    #indelika .summary-header {
      font-size: 20px;
      padding: 20px 0; } }

#indelika .contact-us-form .gl-container h1 {
  color: #8a3b86; }

#indelika .contact-us-form .gl-container p {
  color: black; }
  #indelika .contact-us-form .gl-container p span {
    color: #8a3b86; }
  #indelika .contact-us-form .gl-container p input {
    color: #8a3b86;
    border-bottom: 2px solid #000; }

#indelika .contact-us-form .gl-container button {
  color: #8a3b86;
  background-color: #ffcc00; }

#indelika .contact-us-form .gl-container button:hover {
  color: #ffcc00;
  box-shadow: 0 100px 0 0 #000 inset; }
